<%- include('partials/header') %>
<div class="container mt-5">

<h1 class="text-center">Upload an image</h1>
    <hr>
    <div class="text-center">
        <form action="/profile" method="POST" enctype="multipart/form-data">
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Image Title</label>
                <!-- <input type="text" id="name" placeholder="Name" 
                       value="" name="name" required> -->
                       <div class="col-sm-10">
                        <input type="text" name="name" class="form-control w-50" id="name" placeholder="Title" required>
                      </div>
            </div>

            <div class="form-group row mt-4">
                <label for="desc" class="col-sm-2">Image Description</label>
        
                <div class="col-sm-10">
                    <input class="form-control w-50" name="desc" id="desc" placeholder="Description" rows="5">
                </div>
               
            </div>
            <!-- <div>
                <label for="image">Upload Image</label>
                <input type="file" id="image" 
                       name="image" value="" required>
            </div> -->
            <div class="form-group row mt-4 ">
                <label for="formFile" class="form-label col-sm-2">Upload Image</label>
                <div class="col-sm-10">
                    <input class="form-control w-50" name="image" type="file" id="image">
                </div>
                
              </div>
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-lg btn-dark w-25" >Submit</button>
            </div>
        </form>
    </div>
  
    <hr>
      
 
    <h1 class="text-center mt-5 mb-5">Images Page</h1>
    <div class="row">
        <% items.forEach(function(image) { %>
        <div class="column">
            <div class=" text-center mb-5">
                <img class="img-post"  src="data:image/<%=image.img.contentType %>;base64,
                     <%=image.img.data.toString('base64')%>" >
                <div>
                    <h5><%= image.name %></h5>
                      
<p><%= image.desc %></p>
  
  
  
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>
<%- include('partials/footer') %>
